repos:
  - repo: builtin
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ["--fix=no"]
      - id: end-of-file-fixer
        exclude: "(.*js$|.*css$)"
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: no-commit-to-branch
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        description: Format files with cargo fmt.
        entry: cargo fmt
        language: system
        always_run: true
        pass_filenames: false
        args: ["--", "--check"]
